    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    body {
      margin: 0;
      padding: 0;
      background: #000000;
      font-family: 'Poppins', sans-serif;
    }

    .content {
      width: 100%;
      height: 15vh;
    }

    .heading {
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 30px;
      font-size: 40px;
    }

    .para {
      color: #ffffff;
      text-align: center;
      margin-top: 20px;
      padding: 15px;
      font-size: 13px;


    }

    canvas {

      margin-top: 40px;

    }